<div id="navbar">

  <div class="nav-desk-upper-cover">

  </div>
  <a href="/">
  <div class="logo">
    <img id="logo-img" src="/images/logo.png" alt="">

  </div>
  </a>

  <nav class="site-nav">

    <div id="home-nav-content" class="site-content">
      <a href="/">HOME
        {{#if isHomePage}}
        <div class="nav-bar" style="display:flex; justify-content:center;">
          <div class="nav-down-bar nav-down-bar-active"></div>
        </div>
        {{else}}
        <div class="nav-bar">
          <div class="nav-down-bar"></div>
        </div>
        {{/if}}
      </a>

    </div>
    <div id="menu-nav-content" class="site-content">
      <a href="/menu">MENU
        {{#if isMenuPage}}
        <div class="nav-bar" style="display:flex; justify-content:center;">
          <div class="nav-down-bar nav-down-bar-active"></div>
        </div>
        {{else}}
        <div class="nav-bar">
          <div class="nav-down-bar"></div>
        </div>
        {{/if}}
      </a>
    </div>
    <div id="gallery-nav-content"  class="site-content">
      <a href="/gallery">GALLERY
        {{#if isGalleryPage}}
        <div class="nav-bar" style="display:flex; justify-content:center;">
          <div class="nav-down-bar nav-down-bar-active">

          </div>
        </div>
        {{else}}
        <div class="nav-bar">
          <div class="nav-down-bar"></div>
        </div>
        {{/if}}
      </a>
    </div>
    <div id="about-nav-content"   class="site-content">
      <a href="/about">ABOUT
        {{#if isAboutPage}}
        <div class="nav-bar" style="display:flex; justify-content:center;">
          <div class="nav-down-bar nav-down-bar-active">

          </div>
        </div>
        {{else}}
        <div class="nav-bar">
          <div class="nav-down-bar"></div>
        </div>
        {{/if}}
      </a>
    </div>
    <div id="contact-nav-content"  class="site-content">
      <a href="/contact">LOCATIONS
        {{#if isLocationsPage}}
        <div class="nav-bar" style="display:flex; justify-content:center;">
          <div class="nav-down-bar nav-down-bar-active">

          </div>
        </div>
        {{else}}
        <div class="nav-bar">
          <div class="nav-down-bar"></div>
        </div>
        {{/if}}
      </a>

    </div>


  </nav>
  <div id="site-name">
    <div id="site-name-box">
      POKE CITY
    </div>
  </div>
  <div id="orderOnline">
    <a href="https://www.doordash.com/store/pokecity-denver-100952/">
    <div id="orderOnline-btn">
      ORDER ONLINE
    </div>
    </a>
  </div>
  <div id="site-hamburger">
    <div class="menu-toggle">
      <div class="hamburger"></div>
    </div>
  </div>

</div>
<div id="site-nav-hamberger-open">


</div>
